<div class="user-profiles-container">
  <h2>Profils utilisateurs</h2>
  <div *ngIf="loading">Chargement des utilisateurs...</div>
  <div *ngIf="error" class="error">{{ error }}</div>
  <table *ngIf="!loading && !error">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th>Rôles</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.lastName }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.email }}</td>
        <td>
          <span *ngFor="let role of user.roles; let last = last">
            {{ role.roleName }}<span *ngIf="!last">, </span>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
